<main class="aboutScreenContainer">
    <div class="container-fluid p-0">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-xl-3 col-lg-12 title animItems animNoHide text-center">
                <h2>Чому ми?</h2>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap cards">
            <div class="col-xl-3 col-sm-12 card">
                <div class="d-flex align-items-center cardTitle">
                    <img class="animItems animNoHide" src="{{firstIcon}}" alt="point" loading="lazy">
                    <h3 class="animItems animNoHide">Локація - не головне</h3>
                </div>
                <p class="animItems animNoHide">У відпустці, в офісі, чи може в кав’ярні? Нам не важливо де ти знаходишся, поки в тебе є стабільний
                    інтернет. Навчайся дистанційно, не витрачаючи ні часу, ні грошей на дорогу до мовної школи.</p>
            </div>
            <div class="col-xl-3 col-sm-12 card">
                <div class="d-flex align-items-center cardTitle">
                    <img class="animItems animNoHide" src="{{secondIcon}}" alt="hands image" loading="lazy">
                    <h3 class="animItems animNoHide">Індивідуально</h3>
                </div>
                <p class="animItems animNoHide">Вивчення іноземних мов в нашій школі відбувається один на один з викладачем для максимального
                    комфорту та ефективності на заняттях. Так ти зможеш працювати в своєму темпі, не опираючись на групу
                    інших учнів.</p>
            </div>
            <div class="col-xl-3 col-sm-12 card">
                <div class="d-flex align-items-center cardTitle">
                    <img class="animItems animNoHide" src="{{thirdIcon}}" alt="book in phone" loading="lazy">
                    <h3 class="animItems animNoHide">Підібрані матеріали</h3>
                </div>
                <p class="animItems animNoHide">Ми не заміняємо об’ємні навчальні матеріали на пусті завдання з платформ з відкриттям дужок. Наші
                    викладачі ретельно підбирають кожне завдання з говоріння, граматики, читання тощо.</p>
            </div>
        </div>
    </div>
</main>