<section class="englishSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h3 class="animItems animNoHide">Англійська мова</h3>
                <img class="animItems animNoHide" src="{{image}}" alt="English course and UK flag" loading="lazy"/>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 rightEnglishBlock">
                <div class="mainWraper">
                    <span class="animItems animNoHide">Наші заняття підійдуть як новачкам, так і тим, хто раніше вивчав англійську. На заняттях з англійської ти зможеш поглибити знання з граматики, лексики, а також прокачати мовлення та письмо</span>
                    <span class="conditions animItems animNoHide">Умови:</span>
                    <ul>
                        <li class="animItems animNoHide">2 уроки на тиждень по 60 хвилин;</li>
                        <li class="animItems animNoHide">Індивідуальна програма навчання;</li>
                        <li class="animItems animNoHide">Рівні від нульового до С1;</li>
                        <li class="animItems animNoHide">Безоплатне пробне заняття;</li>
                        <li class="animItems animNoHide">Особистий графік та зручна система перенесень занять;</li>
                        <li class="animItems animNoHide">Зв’язок з викладачем в позаурочний час;</li>
                        <li class="animItems animNoHide">Тривалість курсу – 32 уроки.</li>
                    </ul>
                </div>
                <div class="levelMainBox">
                    <div class="mainLevelWraper">
                        <span class="levelGrade animItems animNoHide">Рівень А1-А2</span>
                        <span class="pricePerMonth animItems animNoHide">3440 грн./місяць</span>
                        <span class="attendence animItems animNoHide">*2 рази на тиждень, <br />
                            8 занять</span>
                    </div>
                    <div class="mainLevelWraper">
                        <span class="levelGrade animItems animNoHide">Рівень В1-В2</span>
                        <span class="pricePerMonth animItems animNoHide">3790 грн./місяць</span>
                        <span class="attendence animItems animNoHide">*2 рази на тиждень, <br />
                            8 занять</span>
                    </div>
                    <div class="mainLevelWraper">
                        <span class="levelGrade animItems animNoHide">Рівень С1</span>
                        <span class="pricePerMonth animItems animNoHide">4170 грн./місяць</span>
                        <span class="attendence animItems animNoHide">*2 рази на тиждень, <br />
                            8 занять</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="signFor animItems animNoHide" href="#signUp">Записатись</a>
            </div>
        </div>
    </div>
</section>