<main class="mainScreenContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex align-items-center images-section">
                <img class="animItems gif-first" src="{{gif}}" alt="Stars gif" loading="lazy">
                <div class="main-image-wrapper">
                    <img class="animItems main-image" src="{{mainImg}}" alt="Human with laptop" loading="lazy">
                </div>
                <img class="animItems gif-second" src="{{gif}}" alt="Stars gif" loading="lazy">
            </div>
            <a href="#signUp" class="descriptionBtn">
                Записатись
            </a>
        </div>
    </div>
</main>