<main class="mainScreenContainer">
    <div class="container-fluid">
        <div class="row">
            {{!-- <div class="col-12 d-flex align-items-center textImg">
                <img class="animItems animNoHide" src="https://www.fonema.space/wp-content/uploads/2023/08/Frame-1.png" alt="Text img: learn languages ​​with us">
            </div> --}}
            <div class="col-12 d-flex align-items-center mainImg">
                <img class="animItems" src="{{gif}}" alt="Stars gif">
                <img class="animItems" src="{{mainImg}}" alt="Human with laptop ">
                <img class="animItems" src="{{gif}}" alt="Stars gif">
            </div>
            <a href="#signUp" class="descriptionBtn">
                Записатись
            </a>
        </div>
    </div>
</main>