.mainScreenContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 60px 50px 80px;
  background-color: #f2e6d4;
  margin-top: 70px;

  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      flex-direction: column;

      .images-section {
        width: 60%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .main-image-wrapper {
          width: 30%;
          margin: 0 55px;

          .main-image {
            width: 100%;
          }
        }

        .gif-first {
          width: 150px;
          height: 150px;
          margin-top: 75px;
        }

        .gif-second {
          width: 125px;
          height: 125px;
        }
      }

      .descriptionBtn {
        width: 218px;
        margin: 40px auto 0;
        font-family: "Comfortaa", Sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: 3.2px;
        fill: #000000b3;
        color: #000000b3;
        background-color: #fffb00;
        border-radius: 50px;
        border: none;
        padding: 12px 24px;
        display: none;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .mainScreenContainer {
    padding: 60px 7px 80px;
  }
}

@media screen and (max-width: 1200px) {
  .mainScreenContainer {
    .container-fluid {
      .row {
        .images-section {
          .main-image-wrapper {
            width: 30%;

            .main-image {
              width: 100%;
            }
          }

          .gif-first {
            width: 150px;
            height: 150px;
            margin-top: 75px;
          }

          .gif-second {
            width: 125px;
            height: 125px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .mainScreenContainer {
    padding: 60px 7px 60px;
    margin-top: 50px;

    .container-fluid {
      .row {
        .images-section {
          width: 70%;

          .main-image-wrapper {
            width: 45%;

            .main-image {
              width: 100%;
            }
          }

          .gif-first {
            width: 100px;
            height: 100px;
            margin-top: 75px;
          }

          .gif-second {
            width: 100px;
            height: 100px;
          }
        }

        .descriptionBtn {
          display: block;
        }

        .descriptionBtn:hover {
          background-color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainScreenContainer {
    padding: 20px 42px 60px;

    .container-fluid {
      .row {
        .images-section {
          width: 100%;

          .main-image-wrapper {
            width: 45%;

            .main-image {
              width: 100%;
            }
          }

          .gif-first {
            width: 75px;
            height: 75px;
            margin-top: 75px;
          }

          .gif-second {
            width: 75px;
            height: 75px;
          }
        }

        .descriptionBtn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .mainScreenContainer {
    align-items: center;

    .container-fluid {
      .row {
        .images-section {
          width: 100%;
          flex-direction: column-reverse;

          .main-image-wrapper {
            width: 45%;

            .main-image {
              width: 100%;
            }
          }

          .gif-first {
            display: none;
          }

          .gif-second {
            width: 75px;
            height: 75px;
            margin-left: 150px;
          }
        }

        .descriptionBtn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
